{% extends "base.html.twig" %}

{% block title %}Modifier{% endblock %}

{% block body %}
    <div class="container full">
    <h1 class="my-2">Modifier le profil</h1>
        {{form_start(myForm)}}

            {{form_widget(myForm)}}
            <div class="d-flex link-profile">
                <button type="submit" class="btn btn-success m-3">Confirmer la modification</button>
                <a href="{{path('account_password')}}" class="btn btn-warning bouton m-3">Modifier votre mot de passe</a>
                <a href="{{path('account_imgedit')}}" class="btn btn-info bouton m-3">Modifier votre photo de profil</a>
            </div>
            

        {{form_end(myForm)}}
    </div>

{% endblock %}