{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div id="home">
        <h2 class="d-flex justify-content-center text-white my-3">Welcome in SymfoGarage</h2>
    </div>
    <div class="bande">
    </div>
    <div class="accueil">
        <div class="container">
            <h2 class="m-3 text-white">Nos dernières voitures</h2> 
        </div>
        <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
            {% for car in cars %}
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{loop.index0}}" {% if loop.first %}{% endif %}
            class="active" aria-current="true" aria-label="Slide 1"></button>
            {% endfor %}
        
        </div>
        <div class="carousel-inner">
            {% for car in cars %}
            {% set url = path('cars_show', {'id':car.id}) %}
                <div class="carousel-item {% if loop.first %}active{% endif %}">
                    <img src="{{car.coverImg}}" class="d-block w-100 imageAcc" alt="Image de {{car.marque}} {{car.modele}}">
                    <div class="info">
                        <div class="infos">{{car.marque}} {{car.modele}} - {{car.km}} KM  - {{car.prix}} €</div>
                        <a href="{{url}}" class="btn btn-primary">Voir plus</a>
                    </div>  
                </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        </div>
    </div>
    <div class="bande">
    </div>
        
{% endblock %}
