{% extends 'base.html.twig' %}

{% block title %}Voiture - {{marque}}{% endblock %}

{% block body %}
    <div class="slides">
       <div class="container">
            <div class="row">
                <div class="marque">
                    {# On affiche les marques de la bdd en supprimant les doublons  #}
                    {% set uniqueCars = [] %}
                    {% for carMarque in carsMarque %}
                        {% set urlMarque = path('cars_marque', {'marque': carMarque.slugMarque}) %}
                        {% if carMarque.marque not in uniqueCars %}
                            {% set uniqueCars = uniqueCars|merge([carMarque.marque]) %}
                            <a href="{{urlMarque}}">{{ carMarque.marque }}</a>
                        {% endif %}
                    {% endfor %}
                    <a href="{{path('cars_index')}}" class="seeAll">Voir Tout</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <h5 class="my-3"> Nos véhicules de la marque {{marque}}</h5>
                {% for car in cars %}
                {% set url = path('cars_show', {'id':car.id}) %}
                {% set urlEdit = path('cars_edit', {'id':car.id}) %}
                {% set urlDelete = path('cars_delete', {'id':car.id}) %}
                <div class="col-lg-4">
                    <div class="cadre my-3">
                        <div class="text-black ms-3 mt-3">{{car.fullName}}</div>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{urlEdit}}" class="btn btn-warning m-2">Modifier</a>
                            <a href="{{urlDelete}}" class="btn btn-danger m-2">Supprimer</a>
                        {% endif %}
                        <div class="text-black ms-3 mt-2">{{car.km}} KM</div>
                        <img src="{{car.coverImg}}" alt="image de {{car.fullName}}">
                        <div class="d-flex my-3 justify-content-center align-items-center">
                            <div class="text-black me-3">A partir de {{car.prix}} €</div>
                            <a href="{{url}}" class="btn btn-primary">En savoir plus</a>
                        </div>
                        
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
{% endblock %}